<h1> Hello friends </h1>
<% @posts.each do |post|%>
<!-- two parameters are passed in the link_to 1. link , 2. Where to link  -->
<%=  link_to post.title , post %><br>
<%= post.content %><br>
<%= link_to "Edit", edit_post_path(post.id) %> |
<%= link_to "Delete", post , :confirm => "Are you sure u want to delete", :method => :delete %> 
<br>
<hr>
<%end%>
<%= link_to "New Post" , new_post_path%> 
	